doctype html
html
  head
    title Web Workflow
    link(rel="stylesheet",href="css/app.css",type="text/css")
  body
    h1 We used to generate this
    p It seems it works!..
    script(src="js/app.js")
