doctype html
html
  head
    title Web Workflow
    link(rel="stylesheet",href="css/app.css",type="text/css")
  body
    h1 GULPJS WEB WORKFLOW
    p Web Starter project using gulpjs for beginner command line interface (CLI) users
    script(src="js/app.js")
